<%= render 'shared/navbar' %>

<div class="text-center fs-2 py-1 bg-primary text-light">
  <p class="mb-0 proxima-bold">
    <%= @user.name %>'s projects
  </p>
</div>

<div class="mb-feed">
  <% display_projects(@user.projects) %>
</div>

