<div class="px-2 mt-2">
  <%= simple_form_for object do |f| %>
    <%= f.input :project_id,
                required: true,
                collection: @project_options,
                prompt: "Select your project",
                autofocus: true,
                input_html: { autocomplete: "name", class: 'mb-2 proxima-light' },
                label: false,
                selected: @project_options.first %>

    <div class="fixed-bottom">
      <div class="d-grid gap-2 p-3 bg-primary text-white">
        <%= f.button :submit, "Add Project", class: 'btn btn-outline-light py-2 w-100 proxima-light' %>
      </div>
    </div>
  <% end %>
</div>