<div class="d-flex justify-content-between mx-2 py-3 align-items-center">
  <p class="mb-0 fw-light">
    Total Hours:
  </p>
  <%= total_hours(object) %>
</div>

<%= display_projects(object) %>

<div class="fixed-bottom">
  <div class="d-grid gap-2 p-3 bg-success text-white">
    <%= button_to 'New Project', new_project_path, class: 'btn btn-outline-light py-2 w-100' %>
  </div>
</div>