<%= object %>

<div class="fixed-bottom">
  <div class="d-grid gap-2 p-3 bg-success text-white">
    <%= link_to 'New Project', new_project_path, class: 'btn btn-outline-light py-2 w-100' %>
  </div>
</div>