<div class="bg-primary mb-5" style="height: 100vh">
  <div class="d-flex pt-3">
    <img src="https://hips.hearstapps.com/del.h-cdn.co/assets/cm/15/10/54f63862bfbba_-_gordon-ramsay-cleaver-xl.jpg" class="img-fluid rounded-circle mx-auto" alt="..." style="max-width: 150px">
  </div>

  <h3 class="py-3 text-center text-white">
    <%= current_user.name.capitalize %>
  </h3>


  <ul class="list-group list-group-flush px-4">
    <li class="list-group-item bg-primary border-white">
      <div class="d-flex justify-content-start align-items-center text-white fs-menu">
        <i class="fas fa-user pe-4"></i>
        My Projects
      </div>
    </li>

    <li class="list-group-item bg-primary border-white">
      <div class="d-flex justify-content-start align-items-center text-white fs-menu">
        <i class="fas fa-users-slash pe-3"></i>My External Projects
      </div>
    </li>

    <li class="list-group-item bg-primary border-white ">
      <div class="d-flex justify-content-start align-items-center text-white fs-menu">
        <i class="fas fa-users pe-3"></i> All Groups
      </div>
    </li>
  </ul>
</div>