<div class="d-flex justify-content-center align-items-center" style="height: 28rem;">
  <h1>Hell's Kitchen</h1>
</div>

<div class="d-grid gap-2 fixed-bottom my-3 px-3">
  <%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-primary' %>

  <%= link_to 'SIGN UP', new_user_registration_path, class: 'text-center text-decoration-none' %>
</div>