<%= render 'shared/navbar' %>

<div class="text-center fs-2 py-1 bg-primary text-light">
  <p class="mb-0 proxima-bold">
    My External Projects
  </p>
</div>

<%= total_hours(@projects_without_group) %>

<div class="mb-feed">
  <% display_projects(@projects_without_group_pag) %>

  <div class="pt-3">
    <%= paginate @projects_without_group_pag %>
  </div>

  <div class="fixed-bottom">
    <div class="d-grid gap-2 p-3 bg-success text-white proxima-light">
      <%= link_to 'New Project', new_project_path, class: 'btn btn-outline-light py-2 w-100 proxima-light' %>
    </div>
  </div>
</div>



