<%= render 'shared/navbar' %>

<div class="text-center fs-2 py-1 bg-primary text-light">
  <p class="mb-0">
    My Projects
  </p>
</div>

<%= total_hours(@projects_with_group) %>

<div class="mb-feed">
  <%= render 'shared/transactions', object: display_projects(@projects_with_group) %>
</div>