<div class="text-center fs-2 py-1 bg-primary text-light">
  <p class="mb-0">
    <%= @group.name.capitalize %> Projects
  </p>
</div>

<div class="mb-feed">
  <%= display_group_projects(@group.projects) %>
</div>