// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mb-feed {
  margin-bottom: 4.5rem!important;
}

.vp-max {
  height: 100vh;
}

.fs-group {
  font-size: .9rem;
}